/* Wrapper */
.meter-check-page {
    position: relative;
}

/* Zoom image */
.zoomable {
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.table td {
    overflow: visible;
}

.zoomable.zoomed {
    transform: scale(2);
    cursor: zoom-out;
    z-index: 999;
    position: relative;
}

    /* Popup email */
    .meter-check-page #emailPopup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.4);
        z-index: 9999;
        width: 350px;
    }

