@page
@{
    ViewData["Title"] = "Access deny";
}
<div class="text-center mt-5">
    <h1 class="display-4 text-danger"><i class="fas fa-exclamation-triangle"></i> 403</h1>
    <p class="lead">You have no permition to access this page. Please contact admin.</p>
    <a href="/Index" class="btn btn-primary">Home</a>
</div>