@page
@model SmartSam.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}
<h1>Dashboard</h1>
<div class="card">
    <div class="card-body">
        AdminLTE đã chạy trong Razor Pages 🎉
    </div>
</div>